body {
  margin: 0;
  background: url("ass/index.jpg") no-repeat center center;
  background-size: cover;
}

* {
  font-size: medium;
}

img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.container {
  /* background: url('ass/index.jpg') no-repeat center center;
  background-size: cover; */

  color: white;
  font-size: 2rem;
  padding: 1rem;
  min-height: 100vh;
  margin: auto;
  display: block;
  width: 70%;

  /* grid */
  display: grid;
  gap: 10px;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-columns: 60px repeat(2, 1fr) auto; */
  grid-template-columns: auto 70%;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: repeat(5, 1fr); */
  grid-template-rows: auto;

  /* grid-template-areas:
    ". i3 i3"
    "i1 i4 i4"
    "i2 i5 i5"
    ". i6 i6"
    ". i7 i7"; */
}

.container > div {
  background: lightseagreen;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the top-left corner */
  justify-content: flex-start; /* Align items to the top-left corner */
}

h1 {
  font-size: 70px;
}

h2,
h3 {
  margin: 0 0 10px 0;
  font-size: 30px;
}

.item-1 {
  background: lightseagreen !important;
  /* grid-row-start: 1;
  grid-row-end: 3; */
  grid-row: 2/3;
  /* grid-column-start: 1;
  grid-column-end: 3; */
  grid-column: 1/2;
  /* grid-area: i1; */
  box-shadow: 5px 5px 5px black;
  word-wrap: break-word;
}
.item-2 {
  /* grid-area: i2; */
  grid-row: 3/4;
  grid-column: 1/2;
}
.item-3 {
  /* grid-area: i3; */
  grid-row: 1/2;
  grid-column: 1/3;
}
.item-4 {
  /* grid-area: i4; */
  grid-row: 2/3;
  grid-column: 2/3;
}
.item-5 {
  /* grid-area: i5; */
  grid-row: 3/4;
  grid-column: 2/3;
}
.item-6 {
  /* grid-area: i6; */
  grid-row: 4/5;
  grid-column: 2/3;
}
.item-7 {
  /* grid-area: i7; */
  grid-row: 5/6;
  grid-column: 2/3;
}
/* .item-8 {
  /* grid-row: 1/2;
  grid-column: 1/2; */
/* grid-area: i8; */
/* }
.item-9 {
  grid-area: i9;
} */

/* .circle {
  width: 150px;
  height: 150px;
  background: orangered;
  border-radius: 50%;
  border: 2px solid black;
  margin: auto;
  margin-top: 5rem;
  display: none;
} */

/* ipad view */
/* @media (max-width: 992px) {
  .parent {
    grid-template-areas:
      "i1 i2"
      "i3 i3"
      "i4 i5"
      "i6 i6"
      "i7 i8"
      "i9 i9";
  } */
/* .circle {
    display: block;
  } */
/* } */
/* 
/* phone view */
/* @media (max-width: 500px) {
} */
